.center
  
  -if @week == current_week
    %h1=I18n.t("week.show.what_week_is_it")
  -else
    %h1=I18n.t("week.show.when_is_week_x", :week => @week)
  - I18n.t('week.show.week_x_goes_from_to', :start => I18n.l(@start_date), :end => I18n.l(@end_date), :week => @week)
  .calendar
    .head{:title => I18n.t('week.show.today_is_the', :date => I18n.l(Date.today))}
      = I18n.l(Date.today, :format => :short)
    .week
      %h2{:title => I18n.t('week.show.the_current_week_is', :week =>current_week)}
        =@week
      .corner
  
- content_for :meta do
  %meta{:name => "description", :content => "Wann ist eigentlich Kalenderwoche #{@week}? Sie können sich auch nie merken? Hier können sie jederzeit nachschauen"}
  %meta{:name => "keywords", :content => "KW #{@week}, Kalenderwoche #{@week}, Kalender, Woche, #{@year}"}
  
-content_for :title do
  - if @week == current_week
    %title=I18n.t("week.show.what_week_is_it")
  -else
    %title=I18n.t("week.show.when_is_week_x", :week => @week)